municipal-services/noc-services/src/main/resources/nocas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://upyog.org/noc"
           xmlns:tns="http://upyog.org/noc"
           elementFormDefault="qualified">

    <xs:element name="GetApplicationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RequestInfo" type="xs:string" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>RequestInfo JSON from OAuth response</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="tenantId" type="xs:string" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Tenant ID (optional, defaults to as)</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>